* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    Position: relative;
}

.logo a {
    Font-size: 50px;
    Font-weight: 800;
    line-height: normal;
    float: left;
    color: #0B2447;
    Font-family: 'Open Sans',sans-serif
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-stiky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #0B2447;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.kolom {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:#185164;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 500px;
    font-size: 30px;
    margin-bottom: 20px;
    color:#A5D7E8;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #0B2447;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #917FB3;
    text-decoration: none;
}

a.tbl-pink {
    background: #0B2447;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #917FB3;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#CopyRight {
    Background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    Width: 100%;
    Position: relative;
    display: Flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    Width: 15%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:#185164;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav.menu ul {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
    }
}